*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-image: url(../image/stadion.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
